@charset "utf-8";

//Font Importer
@import  'fonts';

//Style Reset
@import  'reset';

//Header Styles
@import 'header';

//Aside Styles
@import  'aside';

@mixin full-screen{
	height: 100%;
	width: 100%;
	position: relative;
}

html{
	@include full-screen; 
	font-family: 'TitilliumText25L400wt';
	font-size: 0.9rem;
	overflow: hidden;
}

body, .app-container, .main-container{
	@include full-screen; 
}

.main-container{
	background:rgb(240,240,240);
}